* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: 'Lato', sans-serif;
  font-size: .85em;
  text-align: center;
  letter-spacing: .08em;
  font-weight: 700;

  // nesting
  h1 {
    text-align: center;
    font-family: 'Georgia', serif;
    font-weight: 100;
    font-size: 3em;

  }

  h2 {
    text-align: center;
    font-family: 'Georgia', serif;
    font-weight: 100;
    font-size: 2em;

  }

  .sub-title-white {
    font-weight: 350;
    font-size: 1.1em;
    padding: .4em;
    color: white;
  }

  .sub-title-grey {
    font-weight: 350;
    font-size: 1.1em;
    padding: .4em;
    color: #a0a0a0;
  }
}

a:visited {
  text-decoration: none;
  color: black;
}
